body{
    font-family: 'Merriweather', serif;
font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.color{
    color: darkorange;
}
section{
    display: flex;
}
.mission22{
    width: 40%;
    margin: 5%;
}
.mission22 img{
    width: 80%;
}
.button{
    text-decoration: none;
    font-size: 20px;
    background-color: deeppink;
    padding: 10px 40px;
    border-radius: 6%;
}
.my-focused{
    margin-left: 5%;
}
.dreams{
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
}
.destination{
    text-align: center;
    margin-top: 50px;
}
.img-div img{
    width: 100%;
}
.mission{
    border: 1px solid pink;
    width: 300px;
   background-color: pink;
   border-radius: 5%; 
   padding: 2%;
}
.vission{
    border: 1px solid salmon;
    width: 300px;
    background-color: salmon;
    border-radius: 5%;
    padding: 2%;
}
.goals{
    border: 1px solid antiquewhite;
    width: 300px;
    background-color: antiquewhite;
    border-radius: 5%;
    padding: 2%;
}
.learn{
    display: flex;
}
.development-part img{
    width: 100%;
}
.development-part{
    width: 40%;
    padding: 5%;
}
.Global-community{
    display: flex;
}
.project img{
    width: 100%;
}
.project{
    width: 40%;
    padding: 5%;
}
.warming img{
    width: 100%;
}
.warming{
    width: 40%;
    padding: 5%;
}
.global-issu{
    display: flex;
}
.fire{
    color: red;
}
.terget{
    color: seashell;
}
.end{
    text-align: center;
    background-color: black;
  
}

